body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
}

.profile-pic-big {
    height: 48px;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 24px;
}

.profile-pic-small {
    height: 32px;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
}

.icon {
    height: 32px;
    width: auto;
}

.icon-small {
    height: 24px;
    width: auto;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "searchbar      profile-actions"
        "profile-intro  header-btns";
    row-gap: 16px;
}

.searchbar {
    grid-area: searchbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.search-field {
    height: 28px;
    width: 850px;
    border-radius: 8px;
    border-style: solid;
}

.profile-actions {
    grid-area: profile-actions;
    display: flex;
    justify-self: end;
    flex-direction: row;
    align-items: center;
    gap: 18px
}

.profile-intro {
    grid-area: profile-intro;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.profile-intro-username {
    font-size: 1.4rem;
}

.header-btns {
    grid-area: header-btns;
    display: flex;
    justify-self: end;
    flex-direction: row;
    gap: 24px;
}

.header-btn {
    height: 36px;
    width: 64px;
}

.dashboard-icon {
    height: 42px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    padding-right: 1rem;
    padding-top: 1rem;
    /* gap: 40px; */
    /* width: min(40vh, 400px); */
}

.sidebar-item {
    display: flex;
    /* width: min(40vh, 200px); */
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.projects {
    width: 80%;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 74px;
}

.project {
    background-color: aqua;
    width: 300px;
    height: 275px;
    text-align: justify;
    flex-wrap: wrap;
    font-size: 0.8rem;
    border-radius: 16px;
    padding-top: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.extra-sections {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.announcement-container, .trending-item-container {
    background-color: aqua;
    width: 400px;
    height: 275px;
    border-radius: 16px;
    padding-top: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.announcement {
    font-size: 0.8rem;
}

.trending-section {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.trending-item-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.trending-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}