.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
}

.icon {
    height: 32px;
    width: auto;
}

.dashboard-icon {
    height: 42px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.sidebar {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    /* width: min(40vh, 400px); */
}

.sidebar-item {
    display: flex;
    /* width: min(40vh, 200px); */
    flex-direction: row;
    align-items: center;
    gap: 16px;
}